<div class= "panel panel-default">
	<%= form_for @task do |f| %>
		<%= render partial: 'layouts/error_exp' %>
		<div class="panel-heading"> 
			Задача <%= f.text_field :subject %>
		</div>
		
		<div class="panel-body">
			Описание <%= f.text_field :details %>
		</div>

		<div class="panel-footer">
			<%= f.submit 'Сохранить задачу', class: "btn btn-warning" %>
		</div>
		<%= f.date_field :date %>
	<% end %>
</div>
