TO-DO - LIST 

<%= render partial: "search_date_form" %>
 <div class='test test2'> 
	Подсвечивание текста при помощи hover 
 </div>
<hr>
<% @records.map do |task| %>
	<%	task.id %>
	<%= link_to task.subject, task_url(task.id) %>
	<br>
	<%=	task.details %>
	<% if task.completed %>
	<%=	button_to 'Задача сделана', task_completed_url(task) %>
	<%else%>
	<%=	button_to 'Выполнить!', task_completed_url(task)  %>
	<%end%>
	<%=	task.date %>
	<br>
	<%= link_to 'Редактировать задачу', edit_task_url(task.id) %>
	<br>
	<%= link_to 'Удалить задачу', task_url(task.id), method: :delete %>
	<hr>
<% end %>
<br>
<%= link_to "Новая Задача", new_task_url %>