<% content_for(:first_navbar_link) do %>
	<%= link_to "Новая Задача", new_task_url %>
<% end %>
<% content_for(:second_navbar_link) do %>
	<%= link_to "Все Задачи", tasks_url %>
<% end %>
<% content_for(:third_navbar_link) do %>
	<%= render partial: "search_date_form" %>
<% end %>


<% content_for(:fourth_navbar_link) do %>
	<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Задачи за: <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Вчера', tasks_path(search: { date: (Date.current - 1.day).to_s })%></li>
      <li><%= link_to 'Cегодня', tasks_path(search: { date: Date.current.to_s })%></li>
      <li><%= link_to 'Завтра', tasks_path(search: { date: (Date.current + 1.day).to_s })%></li>
    </ul>
  </li>
<% end %>



 

<% @records.each_slice(3) do |row| %>	
	<div class="row">
		<% row.map do |task| %>
		<div class= "col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><%= link_to task.subject, task_url(task.id), class: "btn btn-link" %>
						<%= link_to '', task_url(task.id), class: "glyphicon glyphicon-remove", method: :delete %>
				</div>

				<div class="panel-body">
					<%=	task.details %>
				</div>

				<div class="panel-footer">
					<div class="btn-group" role="group">
						<%= link_to 'Редактировать задачу', edit_task_url(task.id), class: "btn btn-primary" %>
						<% if task.completed %>
							<%=	button_to 'Задача сделана', task_completed_url(task), class: "btn btn-success" %>
						<% else %>
							<%=	button_to 'Выполнить!', task_completed_url(task), class: "btn btn-warning"  %>
						<% end %>	
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>

	
<% end %>